  <!--=====================================
                  TESTIMONIAL PART START
        =======================================-->
        <section class="section testimonial-part">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading">
                            <h2>Temoignage</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="testimonial-slider slider-arrow">
                            <div class="testimonial-card">
                                <i class="fas fa-quote-left"></i>
                                <p>Grace glénou j'ai pu écouler 15 tonnes de soja l'année dernier. Merci à toute l'equipe de glenou</p>
                                <h5>Martine Vossa</h5>
                                <ul>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                </ul>
{#                                <img src="images/avatar/01.jpg" alt="testimonial">#}
                            </div>
                            <div class="testimonial-card">
                                <i class="fas fa-quote-left"></i>
                                <p>J'ai trouvé des producteurs qui peuvent me fourmir en quantite et en qualite de facon continue</p>
                                <h5>Gabriel Ahossi</h5>
                                <ul>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                </ul>
{#                                <img src="images/avatar/02.jpg" alt="testimonial">#}
                            </div>
                            <div class="testimonial-card">
                                <i class="fas fa-quote-left"></i>
                                <p>C'est un vrai lieu d'echange de biens et marchandises</p>
                                <h5>Dagbo Bertin</h5>
                                <ul>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                </ul>
{#                                <img src="images/avatar/03.jpg" alt="testimonial">#}
                            </div>
{#                            <div class="testimonial-card">#}
{#                                <i class="fas fa-quote-left"></i>#}
{#                                <p>ent ipsam</p>#}
{#                                <h5>mahmud hasan</h5>#}
{#                                <ul>#}
{#                                    <li class="fas fa-star"></li>#}
{#                                    <li class="fas fa-star"></li>#}
{#                                    <li class="fas fa-star"></li>#}
{#                                    <li class="fas fa-star"></li>#}
{#                                    <li class="fas fa-star"></li>#}
{#                                </ul>#}
{#                                <img src="images/avatar/04.jpg" alt="testimonial">#}
{#                            </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                   TESTIMONIAL PART END
        =======================================-->